body{
    margin: 0;
}

#gray_top{
    overflow: hidden;
    background-color: #a8a8a8;

}

#navbar{
    background-color: #0f110c;
}

#navbar a{
    text-decoration: None;
    color: #E2E2E2;
    font-size: 25px;
    position: relative;
    top: -68px;
    margin-left: 15px;
}

#navbar .active{
    padding: 10px;
    background-color: #0c71c3;
    color: white;
}

.box{
    background-color: gray;
    padding: 5px;
    width: 30px;
}